<div class="columnas">
    <div class="Bienvenidos left">
        <h1>Bienvenidos</h1>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quos impedit facere, dicta
            architecto fugiat laudantium, molestias incidunt animi laboriosam iusto voluptas natus quae deleniti
            beatae doloremque dolor soluta possimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quae perspiciatis odio itaque totam,
            officiis alias
            ratione voluptatum sequi iure incidunt hic saepe obcaecati, ducimus odit deserunt repudiandae dolorem.
            Libero.</p>
    </div>
    <div class="facial">
        <img src="images/facial.jpg" width="300" alt="facial">
    </div>
</div>