<div class="historia">
            <h2>Historia</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi labore ad sunt magni esse hic unde
                tenetur voluptates vero in consectetur itaque, molestiae sapiente similique eos quaerat! Maiores,
                tenetur rem.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi labore ad sunt magni esse hic unde
                tenetur voluptates vero in consectetur itaque, molestiae sapiente similique eos quaerat! Maiores,
                tenetur rem.
            </p>

        </div>
        <div>
            <div class="staff">
                <h2>STAFF</h2>
                <div class="PERSONAS">
                    <div class="Personas">
                        <img src="images/lucia.jpg" width="180" alt="Lucía Ferreyra">
                        <h5>Lucía Ferreyra</h5>
                        <h6>Fundadora</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nulla suscipit quis
                            accusantium et eligendi ducimus, ex, repudiandae consectetur minus, libero officia
                            reiciendis
                            aliquid voluptatibus harum quia a amet nisi?</p>
                </div>
            </div>
        </div>