<h2>Servicios</h2>
        <div class="servicios">
            <img src="images/limpieza.jpg" width="200" alt="limpieza">
            <div class="info">
                <h4>Limpieza facial</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quisquam eaque eos ab numquam
                    assumenda consectetur maiores, labore inventore velit animi delectus aperiam facilis, ratione ea
                    deserunt consequatur recusandae molestiae?</p>
            </div>

        </div>
        <div class="servicios">
            <img src="images/perfilado.jpg" width="200" alt="perfilado">
            <div class="info">
                <h4>Perfilado de cejas</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quisquam eaque eos ab numquam
                    assumenda consectetur maiores, labore inventore velit animi delectus aperiam facilis, ratione ea
                    deserunt consequatur recusandae molestiae?</p>
            </div>

        </div>
        <div class="servicios">
            <img src="images/depilacion.jpg" width="200" alt="depilacion">
            <div class="info">
                <h4>Depilación</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quisquam eaque eos ab numquam
                    assumenda consectetur maiores, labore inventore velit animi delectus aperiam facilis, ratione ea
                    deserunt consequatur recusandae molestiae?</p>
            </div>

        </div>
        <div class="servicios">
            <img src="images/maquilladora.jpg" width="200" alt="maquillaje">
            <div class="info">
                <h4>Maquillaje</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quisquam eaque eos ab numquam
                    assumenda consectetur maiores, labore inventore velit animi delectus aperiam facilis, ratione ea
                    deserunt consequatur recusandae molestiae?</p>
            </div>

        </div>