p {
    color: teal;
}
.destacado{
    color: violet;
    border: 3px solid chocolate; /* grosor - tipo de borde - color*/
}
.destacado2{
    font-weight: bold;
}
#verde{
    background-color: yellowgreen;
    width: 550px;
    height: 550px;
}
#azul{
    background-color: cadetblue;
    width: 550px;
    height: 550px;
}
h1 {
    color: chocolate;
    text-align: center;
}